div#auth
  label(for='login') login 
  input(placeholder='Login')#login

  label(for='password') password
  input(type='password' placeholder='Password')#password
  button(type='submit').btn.btn-primary#authBtn Log in