//div#auth.authContainer
label(for='login').inputLabel
  input(placeholder='Enter login')#login.input

label(for='password').inputLabel
  input(type='password' placeholder='Enter password')#password.input

button(type='submit').btn.btn-primary.authBtn#authBtn Log in